{% extends 'base.html' %}

{% block title %} List of students {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">FILTERS</h3>
                    </div>
                    <form method="get">
                        <div class="card-body">
                            {{ filters.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success"> Filters</button>
                            <a href="{% url 'list-of-students' %}" class="btn btn-outline-danger"> Reset</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Name of trainer</th>
                        <th>Course</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.start_date|date:"d-m-Y" }}</td>
                            <td>{{ student.end_date|date:"d-m-Y" }}</td>
                            <td>
                                {% if student.trainer %}
                                    {{ student.trainer.first_name }} {{ student.trainer.last_name }}
                                {% else %}
                                    No trainer
                                {% endif %}
                            </td>
                            <td>
                                {% if student.trainer.course %}
                                    {{ student.trainer.course }}
                                {% else %}
                                    No course
                                {% endif %}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        more actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                               href="{% url 'update-student' student.id %}">Update</a></li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'delete-student' student.id %}">Delete</a></li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'details-student' student.id %}">View</a></li>
                                        <li>
                                            <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                                    data-bs-target="#student_{{ student.id }}">
                                                Delete(modal)
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <div class="modal fade" id="student_{{ student.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete - {{ student }}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure to delete {{ student }}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No
                                        </button>
                                        <a href="{% url 'delete-student-modal' student.id %}" type="button"
                                           class="btn btn-danger">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {#<div>#}
    {#{% for trainer in trainers %}#}
    {#    <h3>{{ trainer }}</h3>#}
    {##}
    {#{% endfor %}#}
    </div>
{% endblock %}