{% extends 'base.html' %}

{% block title %}  Details of {{ trainer }} {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <h5 class="card-header">View details of</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title text-center"><strong>First name:</strong> {{ trainer.first_name }}
                                </h5>
                                <h5 class="card-title text-center">Last name: {{ trainer.last_name }}</h5>
                                <h5 class="card-title text-center">Trainer: {{ trainer.trainer }}</h5>
                                <h5 class="card-title text-center">Course: {{ trainer.trainer.course }}</h5>
                            </div>
                            <div class="col-md-6">
                                <h5 class="card-title text-center">email: {{ trainer.email }}</h5>
                                <h5 class="card-title text-center">Age: {{ trainer.age }}</h5>
                                <h5 class="card-title text-center">Description: {{ trainer.description }}</h5>
                                <h5 class="card-title text-center">Gender: {{ trainer.gender }}</h5>
                            </div>

                        </div>


                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'list-of-trainers' %}" class="btn btn-outline-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}