{% extends 'base.html' %}
{% block title %} List of movies{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Name of movies</th>
        <th>Year of appearance</th>
    </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.name_of_movie }}</td>
                <td>{{ movie.year_of_appearance }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'list_of_cars' %}" class="btn btn-outline-primary">Go to list of cars</a>
            </div>
        </div>
    </div>

{% endblock %}



